[user]
	email = mitch.special@gmail.com
	name = Mitchel Humpherys
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	grep = auto
	pager = true
	status = auto
[core]
	excludesfile = ~/.gitignore
	pager = less -R -F -X
	abbrev = 10
[alias]
	gr = log --graph --full-history --all --color --decorate --oneline
	grjustme = log --graph --color --decorate --oneline
	grnotall = log --graph --full-history --color --decorate --oneline
	grdate = log --graph --full-history --all --color --decorate --date=relative --pretty=tformat:'%Cgreen%h %Creset(%Cred%an%Cgreen|%Cblue%ad%Creset) %Creset%s %Cgreen%d'
	grquick = log --graph --color --decorate --oneline --full-history   HEAD...HEAD~50
	grdatequick = log --graph --full-history --color --decorate --date=relative --pretty=tformat:'%Cgreen%h %Creset(%Cred%an%Cgreen|%Cblue%ad%Creset) %Creset%s %Cgreen%d' HEAD...HEAD~50
	loneline = log --oneline
	lonelinedate = log --oneline --decorate --date=relative --pretty=tformat:'%Cgreen%h %Creset(%Cred%an%Cgreen|%Cblue%ad%Creset) %Creset%s %Cgreen%d'
	ribbon-set = !bash -c 'git tag --force _ribbon $(git config branch.$(git name-rev --name-only HEAD).remote)/$(git symbolic-ref HEAD 2>/dev/null | cut -d "/" -f 3)'
	ribbon-catchup = !bash -c 'git log --patch --reverse --topo-order _ribbon..$(git config branch.$(git name-rev --name-only HEAD).remote)/$(git symbolic-ref HEAD 2>/dev/null | cut -d "/" -f 3)'
	toplevel = rev-parse --show-toplevel
	rmote = remote
	cp = cherry-pick
[merge]
	tool = meld
[push]
	default = current
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = mitch.special@gmail.com
    smtpserverport = 587
[rebase]
	autosquash = true
	autostash = true
[github]
	user = mgalgs
[pull]
	rebase = true
[tag]
        sort = version:refname
[branch]
        sort = -committerdate
[diff]
        algorithm = histogram
        colorMoved = plain
        renames = true
