[user]
	email = mitch.special@gmail.com
	name = Mitchel Humpherys
[color]
	branch = auto
	diff = auto
	grep = auto
	pager = true
	status = auto
[core]
	excludesfile = /home/mgalgs/.gitignore
	pager = less -R -F -X
[alias]
	gr = log --graph --full-history --all --color --decorate --oneline
	grdate = log --graph --full-history --all --color --decorate --date=relative --pretty=tformat:'%Cred%h%Cgreen%d%Creset%s (%Cred%an%Cgreen|%Cblue%ad%Creset)'
	loneline = log --oneline
[merge]
	tool = meld
[github]
	user = mgalgs
	token = ae3c591d1a785b241b33bd112c0d1449
